.recommendation {
	opacity: .3;
	z-index: -1 !important;
}

.recommendation:hover {
	opacity: 1;
	z-index: 2 !important;
}

.sponsored {
	position: relative;
	opacity: .8;
	z-index: 1 !important;
}

/* Style outer recommendation div */
.recommendation {
	border-color: #33CC7A;
	background-color: #33CC7A;
}

/* Style any children of the outer div */
.recommendation .fc-event-skin {
	border-color: #33CC7A;
	background-color: #33CC7A;
}

.complex {
	max-width: 380px;
}

.complex .ui-tooltip-title {
	font-size: 22px;
	line-height: 22px;
}

.complex .ui-icon {
	height: 16px;
	padding-top: 2px;
}

.complex .ui-state-default {
	right: 8px;
}

.complex .tooltip-metadata {
	padding-top: 9px;
	font-size: 16px;
	line-height: 16px;
}