.recommendation {
	opacity: .5;
	z-index: 9999 !important;
}

.recommendation:hover {
	opacity: 1;
	z-index: 10001 !important;
}

.sponsored {
	position: relative;
	opacity: .8;
	z-index: 10000 !important;
}

/* Style outer recommendation div */
.recommendation {
	border-color: #33CC7A;
	background-color: #33CC7A;
}

/* Style any children of the outer div */
.recommendation .fc-event-skin {
	border-color: #33CC7A;
	background-color: #33CC7A;
}

.complex {
	max-width: 380px;
}

.complex .ui-tooltip-title {
	font-size: 22px;
	line-height: 22px;
}

.complex .ui-tooltip-content {
	padding: 9px 9px;
}

.complex .ui-icon {
	height: 16px;
	padding-top: 2px;
}

.complex .ui-state-default {
	right: 8px;
}

.complex .tooltip-metadata {
	padding-top: 9px;
	font-size: 14px;
	line-height: 16px;
}

.complex .tooltip-description {
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 18px;
	line-height: 18px;
}

.complex .tooltip-links {
	padding-top: 18px;
	font-size: 14px;
}
