.recommendation {
	opacity: .3;
	z-index: -1 !important;
}

.recommendation:hover {
	opacity: 1;
	z-index: 2 !important;
}

.sponsored {
	position: relative;
	opacity: .8;
	z-index: 1 !important;
}

/* Style outer recommendation div */
.recommendation {
	border-color: #33CC7A;
	background-color: #33CC7A;
}

/* Style any children of the outer div */
.recommendation .fc-event-skin {
	border-color: #33CC7A;
	background-color: #33CC7A;
}
