#promoting {
	font-size: 18px;
}

#graphs {
	margin-top: 30px;
	margin-bottom: 30px;
}

#views {
	height: 300px;
}

#clicks {
	height: 300px;
}

#ctr {
	height: 300px;
}

#graphs h2 {
	text-align: center;
}

#desc {
	margin-top: 10px;
	font-size: 20px;
	line-height: 24px;
}

#interests {
	margin-top: 10px;
	font-size: 20px;
	line-height: 24px;
}

#terms {
	font-style: italic;
	font-weight: bold;
}